<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>
            <li>
                <a class="has-arrow" href="/admin" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
                <!-- <ul aria-expanded="false">
                    <li><a href="">Home 1</a></li>
                    
                </ul> -->
            </li>

            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-user-following menu-icon"></i><span class="nav-text">Tài Khoản</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./user">Danh sách tài khoản</a></li>
                    
                </ul>
            </li>

            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-docs menu-icon"></i><span class="nav-text">Dịch vụ</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./dichvu">Danh sách dịch vụ</a></li>
                    
                </ul>
            </li>
           

            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-layers menu-icon"></i><span class="nav-text">Bài viết</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./baiviet">Danh Sách bài viết</a></li>
                    
                </ul>
            </li>
            <li class="nav-label">Apps</li>

            <li>
                <a class="has-arrow" href="./category" aria-expanded="false">
                    <i class="icon-list menu-icon"></i> <span class="nav-text">Hãng</span>
                </a>
                
            </li>
            <li>
                <a class="has-arrow" href="./products" aria-expanded="false">
                    <i class="icon-screen-desktop menu-icon"></i> <span class="nav-text">Sản Phẩm</span>
                </a>
                
            </li>
            <li>
                <a class="has-arrow" href="./kho" aria-expanded="false">
                    <i class="icon-screen-tablet menu-icon"></i> <span class="nav-text">Kho</span>
                </a>
                
            </li>
            <li>
                <a class="has-arrow" href="./hoadon" aria-expanded="false">
                    <i class="fa fa-shopping-cart"></i><span class="nav-text">Hóa đơn</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="./nhanvien" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i> <span class="nav-text">Nhân viên</span>
                </a>
                
            </li>
            <li>
                <a class="has-arrow" href="./contact" aria-expanded="false">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Contact</span>
                </a>
               
            </li>
            <li>
                <a class="has-arrow" href="./datban" aria-expanded="false">
                    <i class="icon-emotsmile menu-icon"></i><span class="nav-text">Đặt bàn</span>
                </a>
            </li>
            
            <li class="nav-label">Pages</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="">Web</a></li>
                    
                </ul>
            </li>
        </ul>
    </div>
</div>