<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layout/header.ejs", {title:"Thêm Bàn"}) %>


</head>


<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include("../layout/nav_header.ejs") %>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <%- include("../layout/sidebar.ejs") %>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Đặt bàn</h4>
                            <div class="basic-form">
                                <form method="POST" action="" enctype="multipart/form-data">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Họ</label>
                                            <input type="text" required name="first_name" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tên</label>
                                            <input type="text" required name="last_name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Ngày</label>
                                            <input type="date" required name="day" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Thời gian</label>
                                            <input type="time" required name="time" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Số điện thoại</label>
                                            <input type="text" name="phone" required class="form-control" placeholder="">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Địa Chỉ</label>
                                            <input type="text" name="addr" required class="form-control" placeholder="1234 Main St">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Lời nhắc</label>
                                        <textarea required name="note" class="form-control" rows="3"></textarea>
                                    </div>

                                    <button type="submit" class="btn btn-dark">Đặt bàn</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <!-- <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div> -->
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
	<%- include("../layout/footer.ejs") %>

</body>

</html>